*.log
.DS_Store
*/.DS_Store/*
.env
.env.backup
.env.production
/.codex
/.cursor/
/.idea
/.nova
/.npmrc
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
client/node_modules/
client/node_modules/.package-lock.json
server/node_modules/
server/node_modules/.package-lock.json
/public/.DS_Store
/vendor/
Thumbs.db
